.calculator {
    height: 32rem;
    width: 23.5rem;
    border-radius: .4rem;
    
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 4.8rem 4.8rem 4.8rem 4.8rem 4.8rem;
}